@import "../../css/variables";

.services {
  position: relative;
  overflow: hidden;
  height: 1678px;
  margin-top: 260px;
  background-color: $services-background;
  transform: skewY(-8deg);
  .wrapper {
    background-repeat: no-repeat;
    background-position: 50% -500%;
    min-height: 100%;
    transform: skewY(8deg);
  }
  &-content {
    color: #fefefe;
    max-width: 65%;
  }
}