@import "../../../../../../css/variables";

.nav-elem {
  font-family: Roboto;
  font-size: 13pt;
  color: $main-font-color;
  margin:0 22px;
  text-decoration: none;
  &:hover {
    color: $hover-font-color;
  }
}

@media screen and (max-width: 425px) {
  .nav-elem {
    display: none !important;
  }
}