@import '../../css/variables';

.contact-input, .contact-textarea {
  min-width: 770px;
  margin: 10px 0;
  font-size: 15pt;
}

.contact-input {
  height: 52px;
  &::placeholder {
    text-align: center;
  }
}

.contact-textarea {
  min-height: 195px;
  resize: none;
  &::placeholder {
    padding: 10px;
  }
 }

.submit {
  min-width: 776px;
  height: 52px;
  border: 2px solid black;
  font-size: 17pt;
  color: $second-background-color;
  background-color: $background-color;
  &:hover {
    //color: ;
  }
}