@import '../../css/variables';
.contact-form {
  flex-direction: column;
}

.contact-input, .contact-textarea {
  min-width: 770px;
  margin: 10px 0;
  font-size: 15pt;
}

.contact-input {
  height: 52px;
  &::placeholder {
    text-align: center;
  }
}

.contact-textarea {
  min-height: 195px;
  resize: none;
  &::placeholder {
    padding: 10px;
  }
 }

.submit {
  position: relative;
  min-width: 776px;
  height: 52px;
  border: 2px solid black;
  color: $second-background-color;
  background-color: $background-color;
  transition: all 300ms ease;
  z-index: 1;
  &-title {
    font-size: 17pt;
    font-weight: bold;
    z-index: 3;
  }
  &:before{
    position: absolute;
    content: '';
    width: 0; height: 100%;
    background: $second-background-color;
    top: 0;  left: auto; right: 0;
    transition: all 300ms ease;
    z-index: -1;
  }

  &:hover{
    .submit-title {
      color: $background-color;
      transition: .3s ease;
    }
    &:before{
      position: absolute;
      content: '';
      width: 100%; height: 100%;
      background: $second-background-color;
      top: 0; left: 0; right: 0;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-input, .contact-textarea {
    min-width: 570px;
  }
  .submit {
    min-width: 576px;
  }
}

@media screen and (max-width: 425px) {
  .contact-input, .contact-textarea {
    min-width: 370px;
  }
  .submit {
    min-width: 376px;
  }
}

@media screen and (max-width: 320px) {
  .contact-input, .contact-textarea {
    min-width: 270px;
  }
  .submit {
    min-width: 276px;
  }
}