.go-down {
  position: absolute;
  bottom: 0;
}

.ball:nth-child(1) {
  background-color: #f0f0f0;
}

.ball:nth-child(2) {
  background-color: #e0e0e0;
}

.ball:nth-child(3) {
  background-color: #d0d0d0;
}

.ball {
  margin: 6px 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}