@import "../../../../../../css/variables";

.contact {
  min-width: 200px;
  flex-direction: column;
}

.symbol {
  font-size: 15pt;
}

.contact-title {
  margin-top: 5px;
  color: $main-font-color;
}

@media screen and (max-width: 768px) {
  .contact {
    margin: 10px 0;
  }
}