.go-down {
  margin-bottom: 50px;
  flex-direction: column;
}

.ball {
  margin: 6px 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pulse 1s ease-in-out;
  &:nth-child(1) {
    background-color: #f0f0f0;
  }
  &:nth-child(2) {
    background-color: #e0e0e0;
  }
  &:nth-child(3) {
    background-color: #d0d0d0;
  }
}

