@import "../../css/variables";

.timeline {
  height: 1332px;
  width: 5px;
  background-color: $second-background-color;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
  grid-template-columns: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  &-elem {
    flex-direction: column;
  }
}