.headline, .description {
  margin: 0;
}

.headline {
  font-size: 44pt;
  font-weight: bold;
}

.description {
  font-weight: lighter;
  margin-bottom: 48px;
}

.small-headline {
  font-size: 24pt;
}

.small-description {
  font-size: 13pt;
}