html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

section {
  width: 100%;
}